.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  line-height: 1px;
}

.flex-item {
  background: tomato;
  margin: 0.5px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  flex: 1 0 auto;
  height: auto;
}

.flex-item::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  padding-top: 100%;
}

.cell {
  border: 4px solid;
  font-size: 14px;

  &.bump {
    border-color: #fff #6d6d6d #6d6d6d #fff;
    cursor: pointer;
  }

  &.dent {
    border: 4 white;
    background-color: #aaa;
  }

  .hidden {
    visibility: hidden;
  }

  .content {
    position: absolute;
    height: 60px;
    margin-left: -30px;
  }

  &.number0 {
    color: transparent;
  }

  &.number1 {
    color: #00f;
  }

  &.number2 {
    color: #0f7001;
  }

  &.number3 {
    color: #fb0000;
  }

  &.number4 {
    color: #1c2c52;
  }

  &.number5 {
    color: #994c00;
  }

  &.number6 {
    color: #0090a8;
  }

  &.number7 {
    color: #000;
  }

  &.number8 {
    color: #6d6d6d;
  }
}
